div.container1{
	position: relative;
	border: solid 1px;
	height: 400px;
	width: 400px;
	top: 350px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

div.container1 h1{
	position: relative;
	left: 35%;
	transform: translate(-2%, 0%)
}

div.container1 p{
	position:relative;
	left:20%;
}	

div.container1 button{
	position:relative;
	left:40%;
}	

div.container1 #newStartTime{
	position:relative;
	left:25%;
}	

div.container1 #newEndTime{
	position:relative;
	left:25%;
}

div.container1 #currLabel{
	transform: translate(-2%, 0%)
}

div.container1 p.time{
	transform: translate(-5%, 0%)
}	
div.container1 button{
	display: inline
}