
@media (max-height: 700px) {
    .sticky {
        position: relative;
    }
}
@media (max-width: 600px) {
    .resize {
        display: none;
    }
}
@media(max-width:320px)
{
    #mngCal {
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media(max-width:420px)
{
    #mngCal {
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media(min-width:768px)
{
    #mngCal {
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media(min-width:1024px)
{
    #mngCal {
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media(min-width:1200px)
{
    #mngCal {
        margin-top: 2%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

.monthly {
    box-shadow: 0 13px 40px rgba(0, 0, 0, 0.5);
}

/*Removing reservation*/


div#confirm-modal {
	color: white;
	margin:0 auto;
	text-align: center;
	background: rgba(70, 73, 74, 0.9);
	overflow: auto;
	position: absolute;
	top: 2.5em;
	width: 100%;
	height: calc(100% - 5em);
	display: none;
	-webkit-transition: .25s;
	transition: .25s;
	-webkit-transform: scale(0);
		-ms-transform: scale(0);
	        transform: scale(0);
}

#reserve {
	background: 0xE10E0E;
}
#reserve-wrapper {
	margin: 0 auto;
	text-align: center;
	
}

button#confirmRemoveBtn.buttons{
	background-color:rgba(0,0,0,0) ;
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px
}

button#cancelRemoveBtn.buttons{
	background-color:rgba(0,0,0,0) ;
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px
}