div.container1{
	position: relative;
	height: 200px;
	width: 400px;
	top: 70%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -10%)
	}

div.container1 p{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-100%)
}

div.container1 select{
	margin: 0;
    position: absolute;
    left: 20%;
    transform: translate(0%,100%)
}

div.container1 input{
	margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
div.container1 a{
	margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%)
}